body
{
    background-image: url("http://clipart-library.com/img/1205949.png");
    
}
 
#plane 
{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 25%;
    
}

#helicopter
{
    width: 100px;
    height: 100px;
    position: absolute;
    top:50%;
    right: 10px;
}

#birds
{
    width: 300px;
    height: 100px;
    position: absolute;
    top:75%;

}
