body
{
    background-image: url("http://clipart-library.com/img/1205949.png");
    
}

#container 
{
    width: 400px;
    height: 400px;
    position: relative;
    
}
 
#plane 
{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    
}

#helicopter
{
    width: 100px;
    height: 100px;
    position: absolute;
    top:75%;
    right: 10px;
}